<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="invoices.manager.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" 
            android:screenOrientation="portrait" > 
            <!-- android:theme="@style/My_Theme"  -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigureActivity"
            android:label="@string/title_activity_configure"
            android:theme="@android:style/Theme" 
            android:screenOrientation="portrait" > 
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invoices.manager.activity.MainActivity" />
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="@string/title_activity_add" 
            android:screenOrientation="portrait" > 
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invoices.manager.activity.ListActivity" />
        </activity>
        <activity
            android:name=".InvoicesMainActivity"
            android:label="@string/title_activity_invoices_main" 
            android:screenOrientation="portrait" > 
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invoices.manager.activity.MainActivity" />
        </activity>
        <activity
            android:name=".InvoicesActivity"
            android:label="@string/title_activity_main" 
            android:screenOrientation="portrait" > 
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invoices.manager.activity.InvoicesMainActivity" />
        </activity>
        <activity
            android:name=".SearchingDevicesActivity"
            android:label="@string/title_activity_searching_devices" 
            android:screenOrientation="portrait" > 
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="invoices.manager.activity.InvoicesMainActivity" />
        </activity>
    </application>

</manifest>